<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-item-heading" data-cy="ItemCreateUpdateHeading">Create or edit a Item</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_actual">Actual</label>
          <input type="number" class="form-control" name="actual" id="field_actual" data-cy="actual" formControlName="actual" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_target">Target</label>
          <input type="number" class="form-control" name="target" id="field_target" data-cy="target" formControlName="target" />
          <div *ngIf="editForm.get('target')!.invalid && (editForm.get('target')!.dirty || editForm.get('target')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('target')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('target')?.errors?.min"> This field should be at least 0. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('target')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_fridge">Fridge</label>
          <select class="form-control" id="field_fridge" data-cy="fridge" name="fridge" formControlName="fridge">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="fridgeOption.id === editForm.get('fridge')!.value?.id ? editForm.get('fridge')!.value : fridgeOption"
              *ngFor="let fridgeOption of fridgesSharedCollection; trackBy: trackFridgeById"
            >
              {{ fridgeOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
